 <%require "date" %> 
<h1>Schedule of Games for 
 <%=Date.today%> </h1>

 <p>No live betting. Please chose game that is not in progress or final. </p>

 
  <div>
    <table border =2>
      <tr>
        <th>
         Game
        </th>

        <th>
          Current Status
        </th>

      
      </tr>

      <% @data_first.each do |event|%> 
      <tr>
        <td>
          <%= event.fetch("summary") %>
        </td>
        <td>
          <%= event.fetch("status") %>
        </td>
      

        
      </tr>
      <% end %>
    </table>
  </div>
</div>