<h1>Every Bets</h1>

<p> Feel free to take the otherside of your friend's bet </p>



<hr>

<table border="1">
  <tr>
    <th>User</th>
    <th>Team Picked</th>
    <th>Opponent</th>
    <th>Spread</th>
    <th></th>
    #user has taken?
  </tr>
# if created_at question here or in controllet
  <%# @photos.each do |photo| %>
  <tr>
    <td>
      <%#wager.bettor.username %>
    </td>

    <td>
      <%#wager.selected_team %>
    </td>

    <td>
      <%#wager.opponent %>
    </td>

    <td>
      <%#wager.selected_team %>
    </td>

    <td>
      <a href="/wager">
        Take the other side
      </a>
    </td>
  </tr>
  
  <%# end %>
</table>
