<h1> Make a bet </h1>


<form action="/wager/insert_bet">
  <label for="browser_input">Winning Team</label>
  <input id="browser_input" type="text" name="input_winner" placeholder="Enter a the winning team...">

 <label for="browser_input">Losing Team</label>
  <input id="browser_input" type="text" name="input losing" placeholder="Enter a the Losing team...">

  <label for="browser_user_id">Spread</label>
  <input id="browser_user_id" type="text" name="spread" placeholder="Enter 0 for Moneyline and '-' # if your winning  team is favored">
  #should this be a interger 

  <button>Make Bet</button>
</form>