<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
     
    </div>
    <ul class="nav navbar-nav">
   <li><a href="/standings">
        Standings 
      </a></li>
 <li><a href="/wager">
        Input Your Bets
      </a></li>      
<li><a href="/games">
        Today's Games
      </a></li>   
      <li><a href="/wager/all">
        All Bets Placed Today
      </a></li>   
      <hr>
      <li><a href="/user_sign_in">Sign in</a></li>  
      <li><a href="/user_sign_up">Sign up</a></li> 
       <li>
            <a href="/user_sign_out">Sign Out</a>
          </li>
  </ul>
  </nav>
  <body>
    <%= yield %>
  </body>
</html>
